@font-face {
  font-family: 'police-cuisine du monde';
  src: url(AbrilFatface-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000000;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  color: #fff;
}


.nav-logo .logo {
  width: 85px;
  height: 85px;
  object-fit: cover;
  margin-left: 20px;
}

.nav-title h1 {
  font-family: 'police-cuisine du monde';
  font-size: 2.5rem;
  font-weight: 600;
  color: #c69666;
  text-align: center;
}

.nav-user {
  font-size: 3rem;
  cursor: pointer;
}

.nav-user i {
  color: #c69666 ; 
}

.videoback1 {
  width: 90%;
  height: 700px;
  margin-left: 90px;
  overflow: hidden;
  border-radius: 50px;

}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.presentationtext {
  margin-left: 30%;
  padding-top: 100px;
  font-size: 21px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  text-align: justify;
  max-width: 700px;
  color: rgb(132, 132, 132);
}

.imagepresentation {
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
}

.imagepresentation img {
  width: 600px;
  height: 400px;
  border-radius: 20px;
}

.recipe h2 {
  padding-top: 130px;
  font-size: 50px;
  color: #c69666;
  font-family: 'Lucia Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 100px;
}

.recipe .access-button {
  padding-top: 90px;
  display: flex;
  justify-content: space-around;
} 

.recipe .access-button img {
  height: 350px;
  width: 590px;
  border-radius: 20px;
}

.recipe .access-button p {
  padding-top: 60px;
  font-size: 23px;
  max-width: 480px;
  color: rgb(132, 132, 132);
}

.btn {
  display: inline-block; /* Ajuste la largeur au contenu */
  padding: 25px 35px;
  color: rgb(0, 0, 0); 
  font-size: 20px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: none;
}

.btn-container {
  width: 100%;
  margin-left: 800%; 
  margin-top: 20px;
  background-color: #c69666;
  border-radius: 17px;
}



