body {
    background-color: rgb(1, 1, 1);
}

p {
    color: rgb(218, 206, 206);
    text-align: center;
    
}

h1 {
    color: white;
    text-align: center;
}
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

img {
display: block;
margin: auto;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 13px;
}
