.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    color: #fff;
  }
  
  
  .nav-logo .logo {
    width: 85px;
    height: 85px;
    object-fit: cover;
    margin-left: 20px;
  }
  
  .nav-title h1 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #c69666;
    text-align: center;
  }
  
  .nav-user {
    font-size: 2rem;
    color: #c69666;
    cursor: pointer;
  }

  body {
    background-color: #000000;
    color: #333;
  }

  .form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form textarea:focus,
form select:focus {
    border-color: #007bff;
    outline: none;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

img {
    border-radius: 50%;
}